<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.lolevsky.nasaplanetary">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".MainApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <meta-data
                android:name="me.lolevsky.nasaplanetary.model.GlideConfiguration"
                android:value="GlideModule"/>

        <activity
            android:name=".view.screens.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".view.screens.main.MainActivity"
                android:launchMode="singleTop"
                android:configChanges="keyboard|orientation">
        </activity>
        <activity
                android:name=".view.screens.planetoryapod.PlanetaryApodActivity"
                android:label="@string/astronomy_picture_of_the_day"
                android:launchMode="singleTop"
                android:configChanges="keyboard|orientation">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".view.screens.main.MainActivity"/>
        </activity>
        <activity
                android:name=".view.screens.marsphoto.MarsPhotosActivity"
                android:label="@string/mars_rover_photos"
                android:launchMode="singleTop"
                android:configChanges="keyboard|orientation">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".view.screens.main.MainActivity"/>
        </activity>
        <activity
                android:name=".view.screens.photocomment.PhotoCommentsActivity"
                android:label="@string/mars_rover_photos"
                android:launchMode="singleTop"
                android:configChanges="keyboard|orientation">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".view.screens.marsphoto.MarsPhotosActivity"/>
        </activity>
    </application>

</manifest>